doctype html 
html 
  head 
    title= appTitle 
    script(type="text/javascript", src="/js/jquery-2.0.3.min.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet", href="/css/style.css")
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(type="text/javascript", src="/js/blog.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #wrap 
      .container
        h1.page-header=appTitle 
        p.lead Welcome to example from Express.js Experience by&nbsp;
          a(href="http://twitter.com/damu178") @damu178
          |. Please enjoy 
        block page 
        block header 
          div 
            include includes/menu 
        block alert 
          div.alert.alert-warning.hidden
        .content 
          block content 
    block footer 
      footer 
        .container 
          p
            | Copyright &copy; 2018 | Issues? Submit to 
            a(href="https://github.com/damu178/blog-express") GitHub
            | .